.shipping-form-container{
    max-width: 600px;
    margin: auto;
}

.continue-btn{
    background-color: #FFD812;
    border-radius: 10px;
    border-color: #f0c040;
    border-style: solid;
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 18px;
    outline: 0;
}

@media(max-width: 900px){
    .shipping-form-container{
        transform: translateY(2%);
    }
}